@import url('https://fonts.googleapis.com/css?family=Josefin+Sans'); /* this is simply a font import */

/* border: 4px dashed #000000; border-radius: 30px; */
/* use the above line to see the spacing of elements*/

/* --------------------------------COMMON-------------------------------- */

body {
	font-family: 'Josefin Sans';
	font-size: 20px;
	background-color: #89CFF0;
}

.navbar {
    overflow: visible;
    background-color: #FFF0DB;
    box-shadow: 0px 0px 8px 0px #B8621B;
    
    padding: 13px;
	margin: -8px;
	z-index: 1px;

    position: sticky;
    display: flex;
    justify-content: space-evenly;
}

.navbar-header {
    position: relative;
    display: flex;
    align-items:flex-start;
    color: #B8621B;
    
    right: 26%;
}

.navbar-buttons {
    position: absolute;
    justify-content: space-evenly;
    margin-top: 8px;
    left: 57.5%;

    width: 35%;
}

.home-button, .qual-button, .serv-button, .port-button, .gpt-button {
    font-family: 'Josefin Sans';
    font-size: 20px;
    font-weight: bold;
	
    background-color: #89CFF0;
    color: #000000;
    border: 4px solid #000000;
    border-radius: 30px;

    margin: 3px;
	padding: 3px 20px;
    
    white-space: nowrap;
	text-decoration: none;
}

.home-button:hover, .qual-button:hover, .serv-button:hover, .port-button:hover, .gpt-button:hover {
    background-color: #004B87;
    color: #FFFFFF;
    
    cursor: pointer;
}

.toggleCircle {
    font-family: 'Josefin Sans';
	font-size: 20px;
    color: #000000;
    font-weight: bold;
    line-height: 215%;

    width: 50px;
    height: 50px;
    background-color: #FFF8EF;
    border-radius: 50%; 
    border: 5px solid #004B87;

    position: absolute;

    top: 5.25%;
	left: 92.5%;
}

.toggleCircle:hover {
    color:#FFFFFF;
    border-color: #3FFA7F;
    background-color: #232323;

    cursor: pointer;
}

/* --------------------------------INDEX-------------------------------- */

.index-content {
    position: relative;
    margin-top: 65px;
    
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
}

.index-image {
    height: 400px;
    width: 400px;
    
    border: 5px solid #004B87;
    border-radius: 15px;

    object-fit: cover;
    overflow: hidden;
}

.index-description {
	color: #000000;
    font-size: 30px;
    font-weight: bold;
    width: 40%;

    text-align: center;
    overflow: visible;
	display: flex;
    flex-direction: column;
    line-height: 107%;

    background-color: #FFF8EF;
	border: 5px solid #004B87;
	border-radius: 15px;
	padding: 10px;
}

.index-description a {
	color: #000000;
	text-decoration: none;
}

.index-description:hover a {
    color: #B8621B;
	text-decoration: underline;
}

.index-highlights {
    display: none;
}

/* --------------------------------QUALIFICATIONS-------------------------------- */

.qualifications-content {
	position: relative;
	margin-top: 30px;

    overflow: visible;
    background-color: #181818;

	display: flex;
    justify-content: space-evenly;
	flex-direction: row;
}

.qualifications-image {
	display: flex;
    overflow: hidden;
	align-items: center;
	justify-content: center;

	position: absolute;
    right: 50%;

    width: 30%;

	border: 5px solid #004B87;
    border-radius: 15px;
	padding: 0px 130px;

	margin-top: 30px;
}

.qualifications-image:hover {
    border-color: #B8621B;
	cursor: pointer;
}

.qualifications-skills,.qualifications-interests {
    position: absolute;
	right: 5%;

    font-size: 22px;
    font-weight: bold;

	color: #000000;
    background-color: #FFF8EF;
	border: 5px solid #004B87;
	border-radius: 15px;
	padding: 10px;

    display: flex;
    flex-direction: column;
	align-items: center;
    text-align: center;

    width: 40%;
}

.qualifications-skills h2, .qualifications-interests h2 {
    color: #B8621B;
}

.qualifications-skills {
    top: 30px;
}

.qualifications-interests {
    top: 635px;
}

/* --------------------------------SERVICES-------------------------------- */

.services-content1 {
    position: relative;
	margin-top: 30px;
    left: 17%;

    overflow: visible;

	display: flex;
    justify-content: space-evenly;
	flex-direction: column;
    width: 70%;
}

.services-content2 {
    display: none;
}

.service-inspiration1, .service1-style1, .service2-style1 {
    position: absolute;
	right: 5%;

    font-size: 22px;
    font-weight: bold;
    line-height: 215%;

	color: #000000;
    background-color: #FFF8EF;
	border: 5px solid #004B87;
	border-radius: 15px;
	padding: 10px;

    display: flex;
    flex-direction: column;
	align-items: center;
    text-align: center;
}

.service-inspiration1 a, .service2-style1 a {
	color: #000000;
	text-decoration: none;
}

.service-inspiration1:hover a, .service2-style1:hover a {
    color: #B8621B;
	text-decoration: underline;
}

.service-inspiration1 h2, .service1-style1 h3, .service2-style1 h3 {
    color: #B8621B;
}

.service-inspiration1 {
    top: 30px;
}

.service1-style1 {
    top: 1575px;
}

.service2-style1 {
    top: 1940px;
}

/* --------------------------------PORTFOLIO-------------------------------- */

.portfolio-content {
	margin-top: 50px;
    margin-left: 20%;
	
	width: 65%;
    height: 700px;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.completed-projects, .active-projects {
	position: relative;
    margin-top: 1%;
    margin-left: -51%;

	padding: 60px 60px;
	
	display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.completed-projects-header h2, .active-projects-header h2 {
    position: relative;
    display: flex;
	margin-left: 27.5%;

    width: 100%;
    color: #000000;
}

.active-projects-header h2 {
	margin-left: 7.5%;
}

.project1, .project2, .project3, .project4, .project5, .project6, .github {
	font-family: 'Josefin Sans';
	font-size: 25px;
    font-weight: bold;
	color: #000000;
	background-color: #FFF8EF;
	
    border: 4px solid #004B87;
	border-radius: 15px;
	padding: 60px 60px;

	white-space: nowrap;
	text-decoration: none;
}

.project1:hover, .project2:hover, .project3:hover, .project4:hover, .project5:hover, .project6:hover, .github:hover {
	color: #FFF8EF;
    background-color: #B8621B;
    border-color: #FFF0DB;
    cursor: pointer;
}

.github {
	position: absolute;
	top: 25px;
	left: 490px;

	padding: 15px 45px;
}